<li>
    <a href="/panier">Mon Panier</a>
</li>
<li>
    <a href="{{ path('liste_commandes') }}">Mes commandes</a>
</li>
<li>
    <a href="/logout">Déconnexion</a>
</li>
<li>
    <a href="/backofficeProvisoir">Back Office</a>
</li>