{% extends "VitrineBundle::layout.html.twig" %}

{% block title %} Inscription {% endblock %}

{% block content %}
    <div class="col-md-2"></div>
     <div class="col-md-8">
        <div class="thumbnail">
            <div class="panel-default">
                <div class="panel-heading"> Connexion </div>
                <div class="caption">
                    <div class="form_connexion form_inscription">
                    {{ form_start(form) }}
                    <label> Mail : {{ form_widget(form.mail) }}</label>
                    <label>Mot de passe : {{ form_widget(form.password) }}</label>
                    {{ form_end(form) }}
                    
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
