{% extends "VitrineBundle::layout.html.twig" %}

{% block title %} Accueil {% endblock %}

{% block content %}

<section>

    <a href="/catalogue" id="button">
        <span>Trouver le coincoin de ses rêves !</span>
    </a>

</section>
    
{% endblock %}